## Special math operations

In [ ]:
# remainder operator

# floor division

## Conditions

### Equality

In [19]:
# math equality

In [20]:
# string equality

In [13]:
# is operator
a = 2
b = 2
a is b

True

In [15]:
a = 2
c = 2.0
a is c

False

In [16]:
a == c

True

In [18]:
print('Variable a memory location is '+hex(id(a)))
print('Variable b memory location is '+hex(id(b)))
print('Variable c memory location is '+hex(id(c)))

Variable a memory location is 0x25d96356950
Variable b memory location is 0x25d96356950
Variable c memory location is 0x25d9a83d8f0

In [21]:
(a == 2) is True

True

In [22]:
(a == 2) is False

False

In [23]:
(a == 3) is True

False

In [24]:
(a == 3) is False

True

In [26]:
d = None
d is None

True

### Inequality

In [27]:
# math inequality

In [28]:
# string inequality
'2' > '3'

False

In [32]:
'3' > '2'

True

In [31]:
'123' > '2'

False

In [35]:
#https://www.journaldev.com/23511/python-string-comparison
print(ord('1'))
print(ord('2'))

49
50

In [42]:
'zhiang' < 'zng'

True

### Floating point precision

In [43]:
print(0.1 + 0.1 == 0.2)        
print(0.1 + 0.1 + 0.1 == 0.3)  
print(0.1 + 0.1 + 0.1)         
print((0.1 + 0.1 + 0.1) - 0.3)

True
False
0.30000000000000004
5.551115123125783e-17

In [ ]:
# Never use == for floating point number!!

### Boolean

In [49]:
# and 

# the meaning of 1 and 0

False

In [ ]:
# or

In [ ]:
# not

### Short circuit evaluation

In [56]:
import time
def a_long_program():
    time.sleep(10)
    return True

### If

In [50]:
a = 50
if a > 10:
    print('larger than 10!')

larger than 10!

In [51]:
a = 50
if a > 10:
    print('larger than 10!')
if a > 20:
    print('larger than 20!')
if a > 30:
    print('larger than 30!')
if a > 40:
    print('larger than 40!')
if a > 50:
    print('larger than 50!')

larger than 10!
larger than 20!
larger than 30!
larger than 40!

### if-else

In [ ]:
a = 50
if a > 10:
    print('larger than 10!')
else:
    print('smaller than or equal to 10!')

### if-elif-else

In [55]:
a = 10
if a > 10:
    print('larger than 10!')
elif a > 20:
    print('larger than 20!')
elif a > 30:
    print('larger than 30!')
elif a > 40:
    print('larger than 40!')
elif a > 50:
    print('larger than 50!')
else:
    print('other options!')

other options!

### In-correct useage of conditions

In [ ]:
# Wrong:
b = True
if (not b):
    print('no')
else:
    print('yes')

# Right:
b = True
if (b):
    print('yes')
else:
    print('no')

In [ ]:
# Wrong:
b = False
if (b):
    pass
else:
    print('no')
    
# Right:
b = False
if (not b):
    print('no')

In [ ]:
# Wrong (though not so wrong...):
b1 = True
b2 = True
if (b1):
    if (b2):
        print('both!')
        
# Right (well, maybe just "preferred"):
b1 = True
b2 = True
if (b1 and b2):
        print('both!')

In [ ]:
# Wrong:
b = True
if (b):
    print('yes')
if (not b):
    print('no')
    
# Right:
b = True
if (b):
    print('yes')
else:
    print('no')

In [ ]:
# Wrong:
x = 10
if (x < 5):
    print('small')
if ((x >= 5) and (x < 10)):
    print('medium')
if ((x >= 10) and (x < 15)):
    print('large')
if (x >= 15):
    print('extra large')
    
# Right:
x = 10
if (x < 5):
    print('small')
elif (x < 10):
    print('medium')
elif (x < 15):
    print('large')
else:
    print('extra large')

## Function

In [ ]:
def triple(n):
    return n * 3

In [ ]:
# a function with many arguments

In [ ]:
# a function with no arguments

In [ ]:
# a function with another function as arguments

In [ ]:
# a function with key word argument

In [ ]:
# a function with another function inside

In [ ]:
# effect of return

In [ ]:
# a function without an return

In [58]:
# variable scope

20

In [ ]:
def f(w):
    return 10*w

def g(x, y):
    return f(3*x) + y

def h(z):
    return f(g(z, f(z+1)))

# what is the output of h(1)?

### Test function

AssertionError:

## in-class practive

### P1

In [ ]:
# almost_equal
def almost_equal(a, b, eps):
    """
    Perform equality for two floating numbers
    
    Args:
    ----------
    a: float
        The first floating number
    b: float
        The second floating number
    eps: float
        Comparison tolerance
        
    Return:
    ----------
    Return true if the absolute difference between a and b
    is smaller than or equal to eps, else, return False
    For example:
    1. almost_equal(1, 1.001, 0.001) --> True
    2. almost_equal(1, 1.001, 0.0001) --> False
    """

### P2

In [ ]:
# abs1
def abs1(a):
    """
    Return the absolute value of the given value
    
    Args:
    ----------
    a: float or int
        A float or integer
        
    Return:
    ----------
    Return the absolute value of a
    For example:
    1. abs1(1) --> 1
    2. abs1(-1) --> 1
    3. abs1(0) --> 0
    """

### P3

In [ ]:
def get_degree_classification(grade):
    """
    Return the degree classification given the grade
    
    Args:
    ----------
    a: float
        The grade
        
    Return:
    ----------
    If the grade is below 40, return "Not pass"
    If the 40 <= grade < 50, return "Third class"
    If the 50 <= grade < 60, return "Lower second"
    If the 60 <= grade < 70, return "Upper second"
    If the 70 <= grade, return "First"
    """

### P4

isLegalTriangle(s1, s2, s3)
Write the function isLegalTriangle(s1, s2, s3) that takes three int or float values representing the lengths of the sides of a triangle, and returns True if such a triangle exists and False otherwise. Note from the triangle inequality that the sum of each two sides must be greater than the third side, and further note that all sides of a legal triangle must be positive. Hint: how can you determine the longest side, and how might that help?

### P5

cat2human_age(cat_age)
The first two years of a cats life are equivalent to the first 25 years of a humans life. Each additional year in the cats life after this equates to four ‘human years’. 
a.	Write a function which converts a cats age in years to human years. 
i.	What is the cats ‘human age’ when it is 1 year old? (answer = 12.5 years)
ii.	What is the cats ‘human age’ when it is 10 years old? (answer = 57 years)

cat2human_age(cat_age_year, cat_age_month)
b.	Extend your function to convert the cats age in years and months to human years and months. 
i.	What is the cats ‘human age’ when it is 1 year and 2 months old? (answer = 14 years 7 months)
ii.	What is the cats ‘human age’ when it is 7 years and 8 months years old? (answer = 47 years 8 months)

### P6

bottle_boxes(bottles)
Write the function bottle_boxes(bottles) that takes a non-negative integer number of bottles, and returns the smallest integer number of boxes that is required to hold the number of bottles. Each box can up to 9 bottles.
For example:
bottle_boxes(5) --> 1
bottle_boxes(9) --> 1
bottle_boxes(10) --> 2
bottle_boxes(18) --> 2

### P7

pascals_triangle_value(row, col)
Write the function pascals_triangle_value(row, col) that takes int values row and col, and returns the value in the given row and column of Pascal's Triangle where the triangle starts at row 0, and each row starts at column 0. If either row or col are not legal values, return None, instead of crashing. Hint: math.factorial may be helpful! 
What is Pascal's Triangle?
https://www.mathsisfun.com/pascals-triangle.html

### P8

set_kth_digit(n, k, d)
Write the function set_kth_digit(n, k, d) that takes three integers -- n, k, and d -- where n is a possibly-negative int, k is a non-negative int, and d is a non-negative single digit (between 0 and 9 inclusive). This function returns the number n with the kth digit replaced with d. Counting starts at 0 and goes right-to-left, so the 0th digit is the rightmost digit. For example:
set_kth_digit(358, 0, 1) == 351
set_kth_digit(156, 1, 2) == 126
set_kth_digit(982, 2, 4) == 482
set_kth_digit(195, 3, 2) == 2195

In [10]:
# Hint
# How to mathematically extract the nth digit of a number

a = 1025
n = 2
a//(10**n)%10

0

In [108]:
191//

0